<a href="https://colab.research.google.com/github/lipchenko/lipchenko_HSE_student/blob/main/%D0%90%D1%83%D0%B4%D0%B8%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
range(stop)
range(start, stop) #два числа - от заданного до заданного числа
range(start, stop, step) # полный вариант, задаем три элемента: с нулевого  до

In [ ]:
for i in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(f"Index{i} : {fruits[i]}")

Index0 : apple
Index1 : banana
Index2 : cherry

In [ ]:
students = ["Анна", "Борис", "Виктория", "Григорий"]
grades = [85, 92, 78, 96]
print("Результаты экзамена")
for i in range(len(students)):
  print(f"sudent{i} - grade{}") #Zip это упаковка двух списков

In [ ]:
common_list = zip(city, temperatures)
even_numbers = list(range(0, 11, 2))

In [ ]:
even_numbers = list(range(10, 0, -2))
print(even_numbers)

[10, 8, 6, 4, 2]

In [ ]:
even_numbers = list(range(9))
print(even_numbers)

close_numbers = list(range(2, 20, 2))
print(close_numbers)

super_numbers = list(range(10, 1, -1))
print(super_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig", "grape"]
for i in range(len(words)):
  if "a" in words [i]:
    words[i] = "FOUND"


    print(words)

['FOUND', 'banana', 'cherry', 'date', 'fig', 'grape']
['FOUND', 'FOUND', 'cherry', 'date', 'fig', 'grape']
['FOUND', 'FOUND', 'cherry', 'FOUND', 'fig', 'grape']
['FOUND', 'FOUND', 'cherry', 'FOUND', 'fig', 'FOUND']

In [ ]:
products = ["Ноутбук", "Мышь", "Клавиатура", "Монитор"]
prices = [50000, 2500, 4000, 30000]
quantities = [8, 45, 25, 12]

super_price = []

for i in range(len(products)):
  final_price = quantities[i] * prices[i]
  super_price.append(final_price)


max_value = max(super_price)

print(max_value)

400000

In [ ]:
products = ["Телефон", "Планшет", "Ноутбук", "Наушники"]
prices = [30000, 45000, 80000, 15000]
stock = [15, 8, 5, 20]
discounts = [10, 15, 20, 5]
nex_catalogue = []
for i in range(len(products)):
  new_price = prices[i] - prices[i] * (discounts[i]/100)
  nex_catalogue.append(new_price)
print(f"{products[i]} - {new_price} руб. (скидка {discounts[i]}%) - в наличии: {stock[i]} шт.")

Наушники - 14250.0 руб. (скидка 5%) - в наличии: 20 шт.

In [ ]:
students = ["Anna", "Boris", "Victoriya", "George"]
for number, student in enumerate (words, starts = 1):
  print(i)
  print(word)

NameError: name 'words' is not defined

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i, product in enumerate (fruits, start = 1):
  print(f"{i}-{product}")

1-apple
2-banana
3-cherry

In [ ]:
words = ["Pug", "Dog", "Lucky"]
#lower_words = []
#for word in words:
  #lil_wordies = words.lower()
  #lower_words.append(lil_wordies)
new_words = [word.lower() for word in words]
print(new_words)

['pug', 'dog', 'lucky']

In [ ]:
words_example = [word.upper() for word in ["hello", "world"]]  # ['HELLO', 'WORLD']
print(words_example)

['HELLO', 'WORLD']

In [ ]:

new_numbers = [i for i in range(20) if i % 2 == 0]
print(new_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
words = ["python", "data", "science", "list"]
length = [len(word) for word in words]
print(length)

[6, 4, 7, 4]

In [ ]:
words = ["cat", "elephant", "dog", "butterfly", "ox"]
four_number = [len(word) for word in words if len(word) > 4]
print(four_number)

[8, 9]

In [9]:

numbers = []


while True:
  super_numbers = input()
  new_numbers = super_numbers.split()
  if "0" in new_numbers:
    break
  try:
      numbers= [int(i) for i in new_numbers if int(i) > 0 and int(i) % 2 == 0]
      numbers.extend(new_numbers)
  except ValueError:
      print("Пожалуйста, введите целое число")


print(numbers)

66 88 99
0
[66, 88, '66', '88', '99']